<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screeen bg-zinc-900">
        <div class="form p-10" >
            <form action="/create" method="post">
                <input class="block bg-zinc-500  mx-5 my-2 w-full rounded-md" name="title">
                <textarea id="" class="block bg-zinc-500 mx-5 my-2 w-full rounded-md" name="details"></textarea>
                <input type="submit" value="Submit" class="block bg-zinc-500 mx-5 my-2 ">
            </form>
        </div>
        <div class="tasks flex gap-3 text-white"> 
            <% if(files.length > 0){    %>
            <% files.forEach(function(val){ %>
                <div class="task w-72 px-3 py-2 bg-zinc-800 m-3 rounded-md">
                    <h1><%= val %></h1>
                    <a href="/file/<%= val %>" class="text-blue-500 inline-block mt-5 ">read more</a>
                    <a href="/changename/<%= val %>" class="text-zinc-400 p-10">Edit File Name</a>
                </div>
            <% }) %>
            <% }else{ %>
                    <h3 class="bg-zinc-600">no tasks yet.</h3>
                <% } %>
        </div>

    </div>
</body>
</html>